@import "bootstrap-sprockets";
@import "bootstrap";

.clear { clear: both; }
textarea.form-control, select.form-control[multiple] { height: 400px; }

#error_explanation h2 { display: none; }
#error_explanation ul { @extend .alert; @extend .alert-danger; padding-left: 25px; }

.field_with_errors { display: inline; }
