/*
 *= require_tree .
 *= require social-share-button
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-wysihtml5";

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

footer {
    margin: 50px 0;
}

.clear { clear: both; }

#error_explanation h2 { display: none; }
#error_explanation ul { @extend .alert; @extend .alert-danger; padding-left: 25px; }

.field_with_errors { display: inline; }



